@import "react-h5-audio-player/lib/styles.css";
$audio-background-color: #fab908;

.rhap_container {
  font-family: $font-main;
  box-shadow: none;
  background-color: $audio-background-color;
  opacity: 0.9;
  &.is-tablet-or-narrower {
    .rhap_controls-section {
      width: 100%;
      justify-content: center;
    }
    .rhap_progress-section {
      width: 100%;
    }
    .rhap_header {
      width: unset;
    }
  }
  .rhap_header {
    width: $post-text-max-width;
    margin: 0 auto 10px;

    .post-audio-title {
      font-family: $font-heading;
      flex: 1;
    }
    .close-and-hide {
      cursor: pointer;
      .hide-show-btn {
        margin-left: 30px;
      }
    }
  }
  .rhap_time {
    &.rhap_current-time,
    &.rhap_total-time {
      font-size: $font-size-xs;
      font-family: $font-main;
    }
  }
  .rhap_progress-bar,
  .rhap_volume-bar {
    height: 2px;
  }

  .rhap_download-progress,
  .rhap_volume-bar {
    background-color: $black;
  }

  .rhap_volume-button {
    margin-right: 15px;
  }

  .rhap_progress-indicator,
  .rhap_volume-indicator {
    width: 10px;
    height: 10px;
    margin-left: -7px;
    top: -3px;
    box-shadow: none;
    background-color: $black;
  }

  .rhap_progress-section {
    width: 75%;
  }

  .rhap_progress-container {
    width: $post-text-max-width;
    flex: initial;
  }

  .rhap_progress-filled {
    background-color: $grey;
  }

  .rhap_controls-section {
    width: 25%;
    justify-content: center;
  }

  .rhap_volume-button {
    color: $black;
  }
  .rhap_main-controls {
    width: 75%;
    justify-content: space-evenly;
  }
  .rhap_main {
    margin-bottom: $space-sm;
  }
}

.post-audio-container {
  bottom: 0;
  margin: 0;
  position: fixed;
  transform: translateY(100%) scale(1.0001) translateZ(0);
  transition: all 0.1s ease-in-out 0s;
  width: 100%;
  will-change: transform;
  &.tablet {
    .close-and-hide-section-container {
      position: relative;
      opacity: 0.9;
      background-color: $audio-background-color;
      .close-and-hide-section {
        width: initial;
      }
    }
  }
  &.audio-hidden {
    .close-and-hide-section-container {
      opacity: 0.9;
      background-color: $audio-background-color;
      transform: translateY(-100%);
      transition: all 0.1s ease-in-out 0.3s;
      border-radius: 4px 4px 0 0;
    }
  }
  &.audio-visible {
    filter: blur(0);
    opacity: 1;
    pointer-events: inherit;
    transform: translateY(0) scale(1) translateZ(0);
    visibility: visible;
  }
  .close-and-hide-section-container {
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 1;
    .close-and-hide-section {
      display: flex;
      width: 85px;
      justify-content: space-between;
      padding: $space-xs $space-sm 0;
    }
  }
}

.post-as-audio-button {
  font-weight: bold;
  display: flex;
  .post-as-audio-icon {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    width: $space-md;
    height: $space-md;
    margin-right: $space-sm;
  }
  .post-as-audio-text {
    font-family: $font-heading;
    color: $font-color-accent;
    font-size: $font-size-md;
  }
}
