@import "react-h5-audio-player/lib/styles.css";

.rhap_container {
  font-family: $font-main;
  box-shadow: none;
  background-color: #fab908;
  opacity: 0.8;
  .rhap_header {
    display: flex;
    .post-title {
      font-family: $font-heading;
      flex: 1;
    }
    .close-and-hide {
      cursor: pointer;
      .hide-show-btn {
        margin-left: 30px;
      }
    }
  }
  .rhap_time {
    &.rhap_current-time,
    &.rhap_total-time {
      font-size: 12px;
    }
  }
  .rhap_progress-bar,
  .rhap_volume-bar {
    height: 2px;
  }

  .rhap_download-progress,
  .rhap_volume-bar {
    background-color: $black;
  }

  .rhap_volume-button {
    margin-right: 15px;
  }

  .rhap_progress-indicator,
  .rhap_volume-indicator {
    width: 10px;
    height: 10px;
    margin-left: -7px;
    top: -3px;
    box-shadow: none;
    background-color: $black;
  }

  .rhap_progress-filled {
    background-color: $orange;
  }

  .rhap_main-controls {
    justify-content: space-evenly;
    .rhap_main-controls-button {
      margin: 0 9px;
    }
  }

  .rhap_play-pause-button {
    width: 35px;
  }
  .rhap_rewind-button,
  .rhap_forward-button {
    width: 28px;
  }

  .rhap_volume-button {
    color: $black;
  }
}

.post-audio-container {
  .close-and-hide {
    background-color: #fab908;
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 1;
  }
  &.audio-hidden {
    .close-and-hide {
      position: absolute;
      transform: translateY(-100%);
      transition: all 0s ease-in-out 0.3s;
      .hide-show-btn {
        margin-left: 30px;
      }
    }
  }
  bottom: 0;
  margin: 0;
  // opacity: 0;
  position: fixed;
  transform: translateY(100%) scale(1.0001) translateZ(0);
  transition: all 0.1s ease-in-out 0s;
  width: 100%;
  will-change: transform opacity;
  // z-index: 1000;
  &.audio-playing {
    filter: blur(0);
    opacity: 1;
    pointer-events: inherit;
    transform: translateY(0) scale(1) translateZ(0);
    visibility: visible;
  }
}
