.artwork-label {
  text-transform: capitalize;
  .artwork-description,
  .artwork-year {
    font-family: $font-secondary;
  }
  .navigation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.artwork-title {
  font-family: $font-heading;
  font-size: $font-size-lg;
}
