// based on calculation of 9 X 12 canvas which is currently the only artwork size
// 1152px corresponds roughly to 12 in. (96 PPI)
$max-artwork-width: 1152px;

.artwork-label {
  text-transform: capitalize;

  .artwork-description,
  .artwork-year {
    font-family: $font-secondary;
  }
  .artwork-year {
    margin: $space-xs 0;
  }
  .navigation-container {
    margin: $space-xs 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include tablet {
      @include navigation-max-width;
      justify-content: space-between;
    }
  }
}

.artwork-title {
  font-family: $font-heading;
  font-size: $font-size-lg;
}

.artwork-options-container {
  text-align: center;
  font-size: $font-size-sm;
  color: $grey;
  .artwork-options {
    margin: 0 $space-lg;
    border-bottom: 1px solid $light-grey;
    padding: $space-sm 0;
  }
}

.artwork-message {
  margin-bottom: $space-xs;
  &::first-letter {
    text-transform: capitalize;
  }
}

.artwork-image-wrapper {
  max-height: 100vh;
  max-width: $max-artwork-width;
  img.artwork-image {
    max-height: 100vh;
  }
}
