$logo-image-path: url("/sunguk-kim-fox-unsplash.jpg");
$logo-size: 70px;
$logo-container-width: 30%;
$tablet-title-font-size: 30px;

.header-container {
  margin: $space-md 0;
  header {
    @include tablet {
      @include navigation-max-width();
      .font-site-title {
        font-size: $tablet-title-font-size;
      }
    }
  }
}

.font-site-title {
  font-family: $font-site-title;
  font-size: $tablet-title-font-size;
}

.site-logo-container {
  align-items: center;
  margin-right: $space-md;
  @include tablet {
    width: $logo-size * 1.75;
  }
  .site-logo {
    width: $logo-size;
    height: $logo-size;
    background-image: $logo-image-path;
    background-size: cover;
    border-radius: 50%;
    @include tablet {
      width: $logo-size * 1.25;
      height: $logo-size * 1.25;
    }
  }
}
.site-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .site-description {
    font-family: $font-main;
    font-size: $font-size-md;
  }
  .accent-text {
    color: $font-color-accent;
    font-family: $font-site-title-bold;
    margin: 0 $space-xs 0 10px;
  }
}
