@import "./user-agent-overrides.scss";
@import "./variables";
@import "../styles/mixins";

p {
  font-family: $font-main;
}

h2,
h3 {
  font-family: $font-main-bold;
  margin: $space-sm 0;
}

blockquote {
  color: $grey;
  font-size: $font-size-sm;
}

// common layouts
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width-container {
  width: 100%;
}

.width-fit-content {
  width: fit-content;
}

.font-main {
  font-family: $font-main;
}

.font-heading {
  font-family: $font-heading;
}

.font-secondary {
  font-family: $font-secondary;
}

.font-bold {
  font-family: $font-main-bold;
}

.button-main {
  font-size: $font-size-sm;
  color: $grey;
  text-align: center;
  text-decoration: underline;
  &::first-letter {
    text-transform: capitalize;
  }
}

@import "../shared-components/header/header";
@import "../shared-components/navigation/navigation";
@import "../templates/artwork/artwork";
@import "../shared-components/footer/footer";
@import "../shared-components/layout/layout";
@import "../shared-components/post-body/post-body";
@import "../pages/artwork";
@import "../templates/post/post";
@import "../shared-components/post-title/post-title";
