$post-title-container-height: 150px;

.post-title-container {
  margin: $space-sm 0 $space-md;
  padding-bottom: $space-sm;
  border-bottom: 1px solid $light-grey;
  .post-title-text {
    font-size: $font-size-xl;
    margin: 0;
  }
  .post-description {
    font-size: $font-size-md + 3px;
    margin: $space-sm 0;
    font-style: italic;
  }
  .byline {
    margin-top: $space-xs;
    font-size: $font-size-md;
  }
  .post-additional-data {
    margin: $space-xs 0;
    .last-updated-at,
    .read-time {
      font-size: $font-size-sm;
      color: $grey;
    }
    .read-time {
      margin-top: $space-xs;
    }
  }
}
