$nav-padding: 3px;
$nav-border: 1px solid $light-grey;

.site-navigation-container {
  border-top: $nav-border;
  border-bottom: $nav-border;
  .site-navigation {
    display: flex;
  }
  .about-item-container {
    padding: $space-xs;
    border-right: $nav-border;
    width: 25%;
    min-width: 80px;
  }
  .about-nav-item {
    text-align: center;
    font-family: $font-main-bold;
  }
  .nav-items-container {
    width: 75%;
    padding-top: $space-xs;
    padding-bottom: $space-xs;
    margin-left: $space-md;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    @include tablet {
      white-space: initial;
      overflow-x: initial;
      overflow-y: initial;
    }
  }
  .flex-container {
    display: flex;
    justify-content: space-evenly;
  }
  .nav-item {
    text-transform: uppercase;
    &.disabled {
      color: $light-grey;
    }
  }
  .nav-item-category {
    margin-right: $space-md;
    text-align: center;
  }
  .selected {
    border-bottom: 2px solid $font-color-accent;
  }
}

.nav-center {
  padding: $space-xs 0;
  @include tablet {
    width: 600px;
    margin: 0 auto;
  }
}
