$nav-padding: 3px;
$nav-border: 1px solid $light-grey;

.site-navigation-container {
  border-top: $nav-border;
  border-bottom: $nav-border;
  .site-navigation {
    display: flex;
  }
  .about-item-container {
    padding: $space-xs;
    border-right: $nav-border;
    width: 25%;
  }
  .about-nav-item {
    text-align: center;
    font-family: $font-main-bold;
  }
  .nav-items-container {
    width: 75%;
    padding-top: $space-xs;
    padding-bottom: $space-xs;
  }
  .flex-container {
    display: flex;
    justify-content: space-evenly;
  }
  .nav-item {
    text-transform: uppercase;
    &.disabled {
      color: $light-grey;
    }
  }
  .selected {
    border-bottom: 2px solid $font-color-accent;
  }
}

.nav-center {
  padding: $space-xs 0;
  @include tablet {
    width: 600px;
    margin: 0 auto;
  }
}
