.all-shows-outer-container {
  margin: $space-xl $space-md;
}

.show-preview-outer-container {
  @include tablet {
    width: 600px;
    margin: 0 auto;
  }
  .show-name {
    font-family: $font-heading;
    font-size: $font-size-lg;
  }
  .show-introduction {
    font-family: $font-heading;
    color: $font-color-accent;
    font-size: $font-size-md + 7px;
  }
}

.show-preview-inner-container {
  margin: $space-md 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.artwork-thumbnail {
  margin: 0 $space-md 0 0;
}
