@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/alegreya-sans-latin-400-normal.woff2) format("woff2");
}

.alegreya {
  font-family: "Alegreya Sans";
}
